<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      iFome | Aplicação que demonstra as features do Angular
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2020 (<a href="https://github.com/GabrielFernandesLemos">https://github.com/GabrielFernandesLemos</a>)</p>
    <img src="https://avatars0.githubusercontent.com/u/36318506?s=400&v=4" width="150px" height="150px">
    <h1>Gabriel Fernandes Lemos</h1>
    <h4>Desenvolvedor Android/Web</h4>
    <p>Profissional com formação em técnico de informática, cursando graduação em análise e desenvolvimento de sistemas. Cerca de três anos de experiência em desenvolvimento de software.</p>

  </section>